<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Criar Evento</title>
    <meta charset="utf-8" />

    <!-- CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <nav
      class="navbar navbar-expand-lg fixed-top navbar-dark"
      style="background-color: rgb(255, 185, 80)"
    >
      <div class="container-fluid">
        <a class="navbar-brand">Qual é a boa</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/usuarioCliente"
                >Meu perfil</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/agenda">Agenda</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Meus Eventos
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="/eventos/ativos"
                    >Eventos Ativos</a
                  >
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a class="dropdown-item" href="/eventos/encerrados"
                    >Eventos Encerrados</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="text-right">
          <a href="/logout">
            <button type="button" class="btn btn-dark">Sair</button>
          </a>
        </div>
      </div>
    </nav>

    <p style="margin-top: 70px"></p>

    <div class="container-fluid">
      <% if(typeof alertas !='undefined' ) { %>
        <% alertas.forEach(function(alerta){ %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <%= alerta.msg %>
            </div>
            <% }) %>
      <% } %>
      <h1 class="display-6">Olá, <%= dadosLogin.nomeDono %></h1>
      <p class="lead">Bem-vindo ao seus eventos:</p>
      <hr />
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#modalFormData"
      >
        Marcar evento
      </button>
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#modalFormDelete"
      >
        Excluir evento
      </button>
      <hr />

      <section>
        <div class="container">
          <div class="row">
            <div class="col-sm-12 text-center text-dark my-3">
              <h1>Eventos criados</h1>
            </div>
            <div class="row">
              <% if (dadosEventos.length==0) { %>
              <h6 class="display-6 text-center">Nenhum Evento Registrado</h6>
              <% } else { %> <% dadosEventos.forEach((evento) => {%>    
                  <div class="col-sm-3">
                    <div class="card border-warning">
                      <img src="<%= evento.urlImagem %>" class="card-img-top" alt="..." style="height: 150px" />
                      <div class="card-body">
                        <h5 class="card-title"><%= evento.titulo%></h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                          data: <%= evento.dataDoEvento %>
                        </h6>
                        <p class="card-text">
                          Confirmações <%=evento.confirmacoes%>/
                          <%=evento.capacidade%>
                        </p>
                        <p class="card-text">
                          <%= evento.cidade %>, <%= evento.estado %>
                        </p>
                        <button
                          id="editaEvento"
                          type="submit"
                          class="btn btn-primary"
                          data-bs-toggle="modal"
                          data-bs-target="#modalFormEditEvento<%= evento.id %>"
                        >
                          Editar Evento
                        </button>
                      </div>
                    </div>
                    <p class="mt-3"></p>
                  </div>
    
                  <!-- Modal- Edita Evento -->
                  <div
                    class="modal fade"
                    id="modalFormEditEvento<%= evento.id %>"
                    tabindex="-1"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">
                            Editar Evento: <%= evento.titulo %>
                          </h5>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                          ></button>
                        </div>
                        <div class="modal-body">
                          <form
                            enctype="multipart/form-data"
                            action="/editaEvento/<%= evento.id %>"
                            method="post"
                          >
                            <div class="mb-3">
                              <div class="row">
                                <div class="col">
                                  <label
                                    for="exampleFormControlInput1"
                                    class="form-label"
                                    >Novo nome</label
                                  >
                                  <input
                                    type="text"
                                    name="nomeEvento"
                                    class="form-control"
                                    placeholder="Nome do Evento"
                                    value="<%= evento.titulo %>"
                                    enable
                                    required
                                  />
                                </div>
                                <div class="col">
                                  <label
                                    for="exampleFormControlInput1"
                                    class="form-label"
                                    >Novo tipo de evento</label
                                  >
                                  <input
                                    type="text"
                                    name="tipoEvento"
                                    value="<%= evento.tipoDeEvento %>"
                                    class="form-control"
                                    placeholder="Tipo de Evento"
                                    enable
                                    required
                                  />
                                </div>
                              </div>
                            </div>
                            <div class="mb-3">
                              <div class="row">
                                <div class="col-md-6">
                                  <label
                                    for="exampleFormControlInput1"
                                    class="form-label"
                                    >Novo Horário</label
                                  >
                                  <input
                                    type="time"
                                    name="horario"
                                    value="<%= evento.horaDoEvento %>"
                                    class="form-control"
                                    placeholder="Horario do evento"
                                    enable
                                    required
                                  />
                                </div>
                                <div class="col-md-6">
                                  <label for="campodata" class="col-form-label"
                                    >Nova Data</label
                                  >
                                  <input
                                    type="date"
                                    value="<%= evento.dataDoEvento %>"
                                    name="novaData"
                                    class="form-control"
                                    min="<%= new Date().getFullYear() %>-0<%= new Date().getMonth()+1 %>-0<%= new Date().getDate() %>"
                                    id="campodata"
                                    required
                                  />
                                </div>
                              </div>
                            </div>
                            <div class="mb-3">
                              <div class="row">
                                <div class="col-md-6">
                                  <label
                                    for="exampleFormControlInput1"
                                    class="form-label"
                                    >Nova Cidade
                                  </label>
                                  <input
                                    type="text"
                                    name="cidade"
                                    value="<%= evento.cidade %>"
                                    class="form-control"
                                    placeholder="Cidade"
                                    required
                                  />
                                </div>
                                <div class="col-md-3">
                                  <label
                                    for="exampleFormControlInput1"
                                    class="form-label"
                                    >Novo Estado</label
                                  >
                                  <input
                                    type="text"
                                    name="estado"
                                    value="<%= evento.estado %>"
                                    class="form-control"
                                    placeholder="Estado"
                                    required
                                  />
                                </div>
                                <div class="col-md-3">
                                  <label
                                    for="exampleFormControlInput1"
                                    class="form-label"
                                    >Novo CEP</label
                                  >
                                  <input
                                    type="text"
                                    name="cep"
                                    value="<%= evento.cep %>"
                                    class="form-control"
                                    placeholder="CEP"
                                    maxlength="9"
                                    onblur="consultarCEP(this.value)"
                                    enable
                                    required
                                  />
                                </div>
                              </div>
                            </div>
    
                            <div class="mb-3">
                              <div class="col">
                                <label
                                  for="exampleFormControlInput1"
                                  class="form-label"
                                  >Comporta quantas pessoas</label
                                >
                                <input
                                  type="number"
                                  name="capacidadePessoa"
                                  value="<%= evento.capacidade %>"
                                  class="form-control"
                                  placeholder="Quantidade de pessoas"
                                  enable
                                  required
                                />
                              </div>
                            </div>
    
                            <div class="mb-3">
                              <label for="formFileMultiple" class="form-label"
                                >Nova foto do Evento </label
                              >
                              <input
                                value="<%= evento.urlImagem %>"
                                name="urlImagemLocal"
                                class="form-control"
                                accept="image/png, image/jpeg"
                                type="file"
                                id="formFileMultiple"
                                placeholder="Url"
                                required
                                multiple
                                enable
                              />
                            </div>
                            <div class="col">
                              <label
                                for="exampleFormControlInput1"
                                class="form-label"
                                >Novo valor da entrada</label
                              >
                              <input
                                type="number"
                                name="novoValor"
                                value="<%= evento.valorEntrada %>"
                                class="form-control"
                                placeholder="Valor"
                                enable
                                required
                              />
                            </div>
    
                            <div class="modal-footer">
                              <button
                                type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                              >
                                Cancelar
                              </button>
                              <button
                                type="submit"
                                id="salvarMudanca"
                                class="btn btn-primary"
                              >
                                Salvar Alterações
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
              <% }) %> <% } %>
            </div>
            <p style="margin-top: 30px"></p>
          </div>
        </div>
      </section>

      <hr />
    </div>

    <!-- Modal- Criar Evento -->
    <div
      class="modal fade"
      id="modalFormData"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Criar Evento</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form enctype="multipart/form-data" action="/registraEvento" method="post">
              <div class="mb-3">
                <div class="row">
                  <div class="col">
                    <label for="exampleFormControlInput1" class="form-label"
                      >Digite o nome</label
                    >
                    <input
                      type="text"
                      name="nomeEvento"
                      class="form-control"
                      placeholder="Nome do Evento"
                      enable
                      required
                    />
                  </div>
                  <div class="col">
                    <label for="exampleFormControlInput1" class="form-label"
                      >Digite o tipo de evento</label
                    >
                    <input
                      type="text"
                      name="tipoEvento"
                      class="form-control"
                      placeholder="Tipo de Evento"
                      enable
                      required
                    />
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <div class="row">
                  <div class="col-md-6">
                    <label for="exampleFormControlInput1" class="form-label"
                      >Horário</label
                    >
                    <input
                      type="time"
                      name="Horario"
                      class="form-control"
                      placeholder="Horario do evento"
                      enable
                      required
                    />
                  </div>
                  <div class="col-md-6">
                    <label for="exampleFormControlInput1" class="form-label"
                      >Data do evento</label
                    >
                    <input
                      type="date"
                      name="dataEvento"
                      class="form-control"
                      placeholder="quantidade de pessoas"
                      enable
                      min="<%= new Date().getFullYear() %>-0<%= new Date().getMonth()+1 %>-0<%= new Date().getDate() %>"
                      required
                    />
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <div class="row">
                  <div class="col-md-6">
                    <label for="exampleFormControlInput1" class="form-label"
                      >Digite a Cidade
                    </label>
                    <input
                      type="text"
                      name="cidade"
                      class="form-control"
                      placeholder="Cidade"
                      required
                    />
                  </div>
                  <div class="col-md-3">
                    <label for="exampleFormControlInput1" class="form-label"
                      >Estado</label
                    >
                    <input
                      type="text"
                      name="estado"
                      class="form-control"
                      placeholder="Estado"
                      required
                    />
                  </div>
                  <div class="col-md-3">
                    <label for="exampleFormControlInput1" class="form-label"
                      >CEP</label
                    >
                    <input
                      type="text"
                      name="cep"
                      class="form-control"
                      placeholder="CEP"
                      maxlength="9"
                      onblur="consultarCEP(this.value)"
                      enable
                      required
                    />
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <div class="col">
                  <label for="exampleFormControlInput1" class="form-label"
                    >Comporta quantas pessoas</label
                  >
                  <input
                    type="number"
                    name="capacidadePessoa"
                    class="form-control"
                    placeholder="Quantidade de pessoas"
                    enable
                    required
                  />
                </div>
              </div>
              <div class="mb-3">
                <label for="formFileMultiple" class="form-label"
                  >Foto do Evento</label
                >
                <input
                  name="urlImagemLocal"
                  class="form-control"
                  accept="image/png, image/jpeg"
                  type="file"
                  id="formFileMultiple"
                  placeholder="Url"
                  required
                  multiple
                  enable
                />
              </div>
              <div class="col">
                <label for="exampleFormControlInput1" class="form-label"
                  >Valor da entrada</label
                >
                <input
                  type="number"
                  name="valor"
                  class="form-control"
                  placeholder="Valor"
                  enable
                  required
                />
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Cancelar
                </button>
                <button type="submit" class="btn btn-primary">
                  Salvar Evento
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="modalFormDelete"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Excluir evento</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label"
                  >Selecione um evento para excluir:</label
                >
                <select id="selecionaEvento" class="form-select" aria-label="Default select example">
                  <option selected>Selecionar</option>
                  <% for (var c=0; c < dadosEventos.length; c++) { %>
                    <option value="<%= dadosEventos[c].id %>"><%=dadosEventos[c].titulo%></option>
                  <% } %>
                </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancelar
            </button>
            <a href="#" id="deletarEvento">
              <button type="button" id="botaoDeletar" class="btn btn-primary">Confirmar</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>

  <footer class="bg-light text center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021-2022 Grupo A:
      <a class="text-dark" href="/termosDeUso"> Termos de Uso</a>,
      <a class="text-dark" href="/sobrenos"> Sobre nós</a> e
      <a class="text-dark" href="/politicas">Politica de Privacidade</a>
    </div>
    <!-- Copyright -->

    <!--JS-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script src="/consultaCEP.js"></script>
  
    <script src="/deletaEvento.js"></script>
  </footer>
</html>