<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Cadastro</title>
    <!--CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>

    <nav class="navbar navbar-expand-lg fixed-top navbar-dark" style="background-color: rgb(255, 185, 80);">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Qual é a boa</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
                <button type="button" class="btn btn-dark">Sair</button>
            </div>
        </div>
    </nav>

    <p style="margin-top: 70px"></p>

    <div class="container">
        <img src="/sem_foto_usuario.png" class="img-thumbnail rounded mx-auto d-block" alt="Foto do Usuário">
        <p style="margin-top: 20 px"></p>
        <h1 class="display-5 text-center">Seja Bem-vindo, <%= email %>
        </h1>
        <p class="lead text-center">Continue o Cadastro da Sua Conta:</p>
        <hr>
    </div>

    <div class="container">
        <div class="mb-3">
            <p class="lead">Selecione o Tipo de Conta desejada:</p>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Conta Comercial
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    Conta Pessoal
                </label>
            </div>
        </div>
        <hr>
        <div id="formulario-pessoal">
            <p class="lead text-left">Conta Pessoal:</p>
            <form action="/adicionarPessoa" enctype="multipart/form-data" method="post">
                <div class="mb-3">
                    <div class="row">
                        <div class="col">
                            <label for="exampleFormControlInput1" class="form-label">Digite seu nome</label>
                            <input type="text" name="nomePessoa" class="form-control" placeholder="Nome" enable
                                required>
                        </div>
                        <div class="col">
                            <label for="exampleFormControlInput1" class="form-label">Digite seu sobrenome</label>
                            <input type="text" name="sobreNome" class="form-control" placeholder="Sobrenome" enable
                                required>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="exampleFormControlInput1" class="form-label">Digite sua Idade</label>
                            <input type="number" name="idadePessoa" id="idade" class="form-control" placeholder="Idade" enable
                                required>
                        </div>
                        <div class="col-md-6">
                            <label for="exampleFormControlInput1" class="form-label">Digite a data do seu
                                nascimento</label>
                            <input type="date" name="dataNasc" class="form-control" placeholder="00/00/0000"
                                min="1921-01-01" max="2002-31-12" onblur="validaIdade(this.value)" enable required>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="exampleFormControlInput1" class="form-label">Digite sua Cidade</label>
                            <input type="text" name="cidade" class="form-control" placeholder="Cidade" required>
                        </div>
                        <div class="col-md-4">
                            <label for="exampleFormControlInput1" class="form-label">Digite seu Estado</label>
                            <input type="text" name="estado" class="form-control" placeholder="Estado" required>
                        </div>
                        <div class="col-md-2">
                            <label for="exampleFormControlInput1" class="form-label">Digite seu CEP</label>
                            <input type="text" name="cep" class="form-control" placeholder="CEP" minlength="8" maxlength="9"
                                onblur="consultarCEP(this.value)" enable required>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="formFile" class="form-label">Selecione uma foto para seu perfil público</label>
                    <input accept="image/png, image/jpeg" name="urlImagem" class="form-control" type="file" id="formFile" required enable>
                </div>
                <div class="mb-3 form-group">
                    <label for="exampleFormControlSelect2">Vacinação</label>
                    <select name="selecionaVacina" multiple class="form-control" id="Vacinacao">
                        <option value="dose única">dose única</option>
                        <option value="1 dose de 2">1 dose de 2</option>
                        <option value="2 dose de 2 sem dose de reforço">2 dose de 2 sem dose de reforço</option>
                        <option value="2 dose de 2 com dose de reforço">2 dose de 2 com dose de reforço</option>
                        <option value="Antivax">Antivax</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="formFile" class="form-label">Adicione uma foto do seu Passaporte Sanitário</label>
                    <input accept="image/png, image/jpeg" name="passaPorte" class="form-control" type="file" id="formFile" enable>
                </div>
                <div class="mb-3">
                    <div class="d-grid d-md-flex justify-content-md-end">
                        <button class="btn btn-primary" type="submit" enable>Cadastrar</button>
                    </div>
                </div>

            </form>

            <p style="margin-top: 30px"></p>
            <hr>
        </div>
        <div id="formulario_comercial" style="display: none;">
            <p class="lead text-left">Conta Comercial:</p>
            <form action="/adicionarEstabelecimento" enctype="multipart/form-data" method="post">
                <div class="mb-3">

                    <div class="row">
                        <div class="col">
                            <label for="exampleFormControlInput1" class="form-label">Digite o nome completo do
                                Proprietário</label>
                            <input type="text" name="nomeDono" class="form-control" placeholder="Nome completo" enable
                                required>
                        </div>
                        <div class="col">
                            <label for="exampleFormControlInput1" class="form-label">Digite o nome do
                                Estabelecimento</label>
                            <input type="text" name="nomeEstabelecimento" class="form-control"
                                placeholder="Nome Estabelecimento" enable required>
                        </div>
                    </div>

                </div>

                <div class="mb-3">

                    <div class="row">
                        <div class="col-md-6">
                            <label for="exampleFormControlInput1" class="form-label">Digite a Cidade</label>
                            <input type="text" name="cidade" class="form-control" placeholder="Cidade" required>
                        </div>
                        <div class="col-md-4">
                            <label for="exampleFormControlInput1" class="form-label">Digite o Estado</label>
                            <input type="text" name="estado" class="form-control" placeholder="Estado" required>
                        </div>
                        <div class="col-md-2">
                            <label for="exampleFormControlInput1" class="form-label">Digite o CEP</label>
                            <input type="text" name="cep" class="form-control" placeholder="CEP" minlength="8" maxlength="9"
                                onblur="consultarCEP(this.value)" enable required>
                        </div>
                    </div>

                </div>

                <div class="mb-3">

                    <div class="row">
                        <div class="col-md-6">
                            <label for="exampleFormControlInput1" class="form-label">Digite o nome da rua do
                                Estabelecimento</label>
                            <input type="text" name="rua" class="form-control" placeholder="Rua" enable required>
                        </div>
                        <div class="col-md-1">
                            <label for="exampleFormControlInput1" class="form-label">Numero</label>
                            <input type="text" name="numero" class="form-control" placeholder="00" enable required>
                        </div>
                        <div class="col-md-5">
                            <label for="exampleFormControlInput1" class="form-label">Bairro</label>
                            <input type="text" name="bairro" class="form-control" placeholder="Bairro" enable required>
                        </div>

                    </div>

                </div>

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Lotação Máxima</label>
                    <input type="number" name="lotacaoMaxima" class="form-control" id="exampleFormControlInput1"
                        placeholder="Digite a quantidade máxima de pessoas que seu local pode receber" enable>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Informações Complementares</label>
                    <textarea class="form-control" name="infoComplementar" id="exampleFormControlTextarea1"
                        placeholder="Digite as informações Complementares do Estabelecimento" rows="3"
                        enable></textarea>
                </div>

                <div class="mb-3">
                    <label for="formFile" class="form-label">Foto para seu perfil comercial</label>
                    <input accept="image/png, image/jpeg" name="urlImagemPerfil" class="form-control" type="file" id="formFile" required enable>
                </div>

                <div class="mb-3">
                    <div class="d-grid d-md-flex justify-content-md-end">
                        <button class="btn btn-primary" type="submit" enable>Cadastrar</button>
                    </div>
                </div>
        </div>
        </form>
    </div>


</body>

<footer class="bg-light text center text-lg-start">

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021-2022 Grupo A:
        <a class="text-dark" href="termosDeUso"> Termos de Uso</a>,
        <a class="text-dark" href="sobrenos"> Sobre nós</a> e
        <a class="text-dark" href="politicas">Politica de Privacidade</a>
    </div>
    <!-- Copyright -->

    <!--JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="/mudaTipoDeRegistro.js"></script>
    <script src="/consultaCEP.js"></script>
    <script src="/validaIdade.js"></script>
</footer>

<footer class="bg-light text-center text-lg-start">

</footer>

</html>