<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós</title>

    <!--CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


</head>

<body>

    <nav class="navbar navbar-expand-lg fixed-top navbar-dark" style="background-color: rgb(255, 185, 80);">
        <div class="container-fluid">
            <a class="navbar-brand" disabled>Qual é a boa</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <% if (typeof dadosLogin !="undefined" ) { %>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/usuarioEstabelecimento">Meu Perfil</a>
                        </li>
                        <% if (dadosLogin.tipoDeConta==0) { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/eventos">Eventos</a>
                            </li>
                            <% } %>
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="/agenda">Agenda</a>
                                </li>
                                <% if (dadosLogin.tipoDeConta==1) { %>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            Meus Eventos
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item" href="/eventos/ativos">Eventos Ativos</a></li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li><a class="dropdown-item" href="/eventos/encerrados">Eventos
                                                    Encerrados</a></li>
                                        </ul>
                                    </li>
                                    <% } %>
                    </ul>
                    <a href="/logout">
                        <button type="button" class="btn btn-dark">Sair</button>
                    </a>
                </div>
        </div>
        <% } else { %>
            <a href="/login">
                <button type="button" class="btn btn-dark">Login</button>
            </a>
            <% } %>
    </nav>



    <div class="container">
        <p style="margin-top: 55px"></p>
        <% if (typeof dadosLogin !="undefined" ) { %>
            <% if (dadosLogin.tipoDeConta==1 ) { %>
                <h1 class="display-5 text-center pt-3">Olá, <%= dadosLogin.nomeDono %>
                        <% } else { %>
                            <h1 class="display-5 text-center pt-3">Olá, <%= dadosLogin.nomePessoa %>
                                    <% } %>
                                        <% } %>
                            </h1>
                            <p class="lead text-center">Bem-vindo ao site: "Qual é a boa"</p>
                            <hr>
                            <p class="mb-3"></p>
                            <div class="row g-0 bg-light position-relative">
                                <h1 class="display-5">Iniciativa Qual é a boa:</h1>
                                <p class="lead">O que somos:</p>
                                <div class="col-md-6 mb-md-0 p-md-4">
                                    <img src="https://media.istockphoto.com/photos/dancing-friends-picture-id501387734?k=20&m=501387734&s=612x612&w=0&h=1mli5b7kpDg428fFZfsDPJ9dyVHsWsGK-EVYZUGWHpI="
                                        class="img-thumbnail" alt="...">
                                </div>
                                <div class="col-md-6 p-4 ps-md-0">
                                    <p class="fs-5">
                                        O site "Qual é a boa" é um sistema de gerenciamento de eventos.
                                        Nele, como um Usuário Comum, você pode marcar e desmarcar a sua presença em
                                        diversos eventos ao redor do Brasil(<a href="/eventos"
                                            class="link-primary">Eventos</a>). Já como Usuário Comercial você pode criar
                                        seus eventos e os gerencia-los(<a href="/eventos/ativos"
                                            class="link-primary">Eventos
                                            Ativos</a>) e ver seus Eventos que já aconteceram(<a class="link-primary"
                                            href="/eventos/encerrados">Eventos Encerrados</a>). Ambos
                                        Usuários tem a opção de <a href="/agenda" class="link-primary">Agenda</a> que
                                        consiste em marcar datas específicas.
                                        Também há o seu perfil <br>(<a href="/usuarioEstabelecimento"
                                            class="link-primary">Meu perfil</a>),
                                        nele
                                        você pode edita-lo e deixar da forma que você quiser.

                                    </p>
                                </div>
                            </div>
                            <p class="mb-5"></p>
                            <hr>
                            <p class="mb-5"></p>
                            <h1 class="display-5">Professor Responsável:</h1>
                            <p class="lead">Alcemir Rodrigues Santos, Ph.D.</p>
                            <div class="row g-0 bg-light position-relative">
                                <div class="col-md-4  mb-md-0 p-md-4">
                                    <img src="https://avatars.githubusercontent.com/u/174490?v=4" class="img-thumbnail"
                                        alt="Professor ALcemir">
                                </div>
                                <div class="col-md-8 p-4 ps-md-0">
                                    <p class="fs-5">
                                        Professor assistente do Departamento de Ciência da Computação da Universidade
                                        Estadual do Piauí
                                        (UESPI), em Piripiri, Brasil. Possui graduação em Ciência da Computação pela
                                        Universidade
                                        Federal do
                                        Piauí (2010), mestrado em Ciência da Computação pela Universidade Federal de
                                        Minas Gerais (2013)
                                        e
                                        doutorado em Ciência da Computação na Universidade Federal da Bahia (2017) com
                                        período sanduíche
                                        na
                                        Universität Passau (2016), período no qual foi bolsista no PDSE-CAPES. Atuou
                                        como pesquisador no
                                        grupo Reuse in Software Engineering (RiSE) na Universidade Federal da Bahia
                                        (UFBA). Tem atuado
                                        como
                                        revisor do periódico internacional Journal of Systems and Software (JSS) e de
                                        eventos de
                                        pesquisa
                                        nacional (SBCARS e SBQS) e regionais (WEIBASE, ENUCOMP, ERIPI e ENUCOMPI).
                                    </p>
                                    <p class="fs-5">
                                        Informações coletadas do Lattes em 24/06/2020
                                    </p>
                                    <a href="https://www.alcemirsantos.com.br/dev-portfolio"
                                        class="text-decoration-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-laptop" viewBox="0 0 16 16">
                                            <path
                                                d="M13.5 3a.5.5 0 0 1 .5.5V11H2V3.5a.5.5 0 0 1 .5-.5h11zm-11-1A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2h-11zM0 12.5h16a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5z" />
                                        </svg>
                                        Site
                                    </a>
                                    <br>
                                    <a href="https://www.alcemirsantos.com.br/dev-portfolio"
                                        class="text-decoration-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-briefcase" viewBox="0 0 16 16">
                                            <path
                                                d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5zm1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0zM1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5z" />
                                        </svg>
                                        Portfolio
                                    </a>
                                    <br>
                                    <a href="https://www.alcemirsantos.com.br/publications"
                                        class="text-decoration-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-newspaper" viewBox="0 0 16 16">
                                            <path
                                                d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5v-11zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5H12z" />
                                            <path
                                                d="M2 3h10v2H2V3zm0 3h4v3H2V6zm0 4h4v1H2v-1zm0 2h4v1H2v-1zm5-6h2v1H7V6zm3 0h2v1h-2V6zM7 8h2v1H7V8zm3 0h2v1h-2V8zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1z" />
                                        </svg>
                                        Publicações
                                    </a>
                                    <br>
                                    <a href="https://www.alcemirsantos.com.br/dev-portfolio"
                                        class="text-decoration-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                                            <path
                                                d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
                                        </svg>
                                        LinkedIn
                                    </a>
                                    <br>
                                    <a class="text-decoration-none" aria-disabled="true">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                            <path
                                                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                                        </svg>
                                        E-mail: alcemir@prp.uespi.br
                                    </a>
                                    <br>
                                    <a href="https://www.alcemirsantos.com.br/dev-portfolio"
                                        class="text-decoration-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                            <path
                                                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                                        </svg>
                                        Github
                                    </a>
                                    <br>
                                    <p></p>

                                </div>
                            </div>

                            <p class="mb-5"></p>
                            <hr>
                            <p class="mb-5"></p>
                            <h1 class="display-5">Professor Responsável:</h1>
                            <p class="lead">Fabbio Anderson</p>
                            <div class="row g-0 bg-light position-relative">
                                <div class="col-md-4  mb-md-0 p-md-4">
                                    <img src="https://www.somosicev.com/wp-content/uploads/2021/01/prof_fabbio.png"
                                        class="img-thumbnail" alt="Professor ALcemir">
                                </div>
                                <div class="col-md-8 p-4 ps-md-0">
                                    <p class="fs-5">
                                        Possui graduação em Bacharelado em Ciência da Computação pelo Centro de Ensino
                                        Unificado de
                                        Teresina, CEUT. Mestrado e Doutorado pela Escola de Engenharia de São Carlos
                                        (EESC) da
                                        Universidade de São Paulo (USP), pelo Programa de Engenharia Elétrica na área
                                        Sistemas
                                        Dinâmicos, sob orientação do Prof. Dr. Ivan Nunes da Silva. Atualmente é
                                        Professor no
                                        departamento de Computação da Universidade Estadual do Piaui(UESPI) e exerce
                                        atividade junto ao
                                        laboratório OASIS da Universidade Federal do Piauí. Tem experiência na área de
                                        computação com
                                        ênfase em algoritmos de aprendizagem de máquina para mineração e classificação
                                        de dados, atuando
                                        principalmente: aplicação de sistemas inteligentes, sistema de apoio a decisão,
                                        otimização e
                                        análise de dados em Smart Grid e Qualidade de Energia Elétrica.
                                    </p>
                                    <p class="fs-5">
                                        Informações coletadas do Lattes em 24/06/2020
                                    </p>

                                    <a href="https://www.linkedin.com/in/fabbio-anderson-0ba2a621/"
                                        class="text-decoration-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                                            <path
                                                d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
                                        </svg>
                                        LinkedIn
                                    </a>
                                    <br>
                                    <a class="text-decoration-none" aria-disabled="true">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                            <path
                                                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                                        </svg>
                                        E-mail: fabbio@prp.uespi.br
                                    </a>
                                    <br>
                                    <a href="https://github.com/fabbioSborges" class="text-decoration-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                            <path
                                                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                                        </svg>
                                        Github
                                    </a>
                                    <br>
                                    <p></p>

                                </div>
                            </div>

                            <p class="mb-5"></p>
                            <hr>
                            <p class="mb-5"></p>
                            <h1 class="display-5">Alunos Responsáveis pelo Desenvolvimento:</h1>
                            <p class="mb-5"></p>
                            <hr>
                            <p class="mb-5"></p>
                            <p class="lead fs-4">Débora Cristina, Front-End</p>
                            <div class="row g-0 bg-light position-relative">
                                <div class="col-md-4  mb-md-0 p-md-4">
                                    <img src="https://avatars.githubusercontent.com/u/58399267?v=4"
                                        class="img-thumbnail" alt="Professor ALcemir">
                                </div>
                                <div class="col-md-8 p-4 ps-md-0">
                                    <p class="fs-5">
                                        Sou estudante de Ciências da Computação na instituição UESPI(Universidade Estadual do Piauí).
                                        Tenho interesse em programação Web, de forma mais específica em front-end, e programo em Python.
                                    </p>
                                    <p class="fs-3">
                                        Sociais:
                                    </p>
                                    <a href="https://github.com/DeboraCrist" class="text-decoration-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                            <path
                                                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                                        </svg>
                                        Github
                                    </a>
                                    <br>
                                    <a href="https://www.linkedin.com/in/d%C3%A9bora-cristina-800a211b2/"
                                        class="text-decoration-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                                            <path
                                                d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
                                        </svg>
                                        LinkedIn
                                    </a>
                                    <br>
                                    <a class="text-decoration-none" aria-disabled="true">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                            <path
                                                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                                        </svg>
                                        E-mail: deboracbrito@aluno.uespi.br
                                    </a>
                                    <br>
                                    <p></p>

                                </div>
                            </div>
                            <p class="mb-5"></p>
                            <hr>
                            <p class="mb-5"></p>
                            <p class="lead fs-4">Marcelo Barros, Front-End</p>
                            <div class="row g-0 bg-light position-relative">
                                <div class="col-md-4  mb-md-0 p-md-4">
                                    <img src="https://avatars.githubusercontent.com/u/55167409?v=4"
                                        class="img-thumbnail" alt="Professor ALcemir">
                                </div>
                                <div class="col-md-8 p-4 ps-md-0">
                                    <p class="fs-5">
                                        Estudante de Ciência da Computação da instituição de ensino UESPI(Universidade
                                        Estadual do Piauí).
                                        É entusiasta das linguagens de programação: Python, Java e R. Tem interesse na
                                        área de Data Science, Machine Learning e Deep Learning.
                                    </p>
                                    <p class="fs-3">
                                        Sociais:
                                    </p>
                                    <a href="https://github.com/marcelobgs" class="text-decoration-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                            <path
                                                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                                        </svg>
                                        Github
                                    </a>
                                    <br>
                                    <a href="https://www.linkedin.com/in/marcelo-barros-b6a928217/"
                                        class="text-decoration-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                                            <path
                                                d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
                                        </svg>
                                        LinkedIn
                                    </a>
                                    <br>
                                    <a class="text-decoration-none" aria-disabled="true">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                            <path
                                                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                                        </svg>
                                        E-mail: marcelobsegundo@aluno.uespi.br
                                    </a>
                                    <br>
                                    <p></p>

                                </div>
                            </div>

                            <p class="mb-5"></p>
                            <hr>
                            <p class="mb-5"></p>
                            <p class="lead fs-4"> João Victor, Back-End</p>
                            <div class="row g-0 bg-light position-relative">
                                <div class="col-md-4  mb-md-0 p-md-4">
                                    <img src="https://avatars.githubusercontent.com/u/57482542?v=4"
                                        class="img-thumbnail" alt="Professor ALcemir">
                                </div>
                                <div class="col-md-8 p-4 ps-md-0">
                                    <p class="fs-5">
                                        Olá, me chamo João Victor. Nasci em Piripiri-PI e resolvi adentrar o mundo da
                                        tecnologia aos 17
                                        anos
                                        sempre buscando conteúdos de estudo online, foi nessa época que me vi
                                        interessado por
                                        programação,
                                        atualmente sou estudante de Ciência da Computação pela Universidade Estadual do
                                        Piauí e estou
                                        focando em aprender e me especializar em flutter e desenvolvimento web com
                                        Node-Js e React, fora
                                        claro outras tecnologias que podem me despertar o interesse futuramente.
                                    </p>
                                    <p class="fs-3">
                                        Sociais:
                                    </p>
                                    <a href="https://ohlavrac.github.io/" class="text-decoration-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-laptop" viewBox="0 0 16 16">
                                            <path
                                                d="M13.5 3a.5.5 0 0 1 .5.5V11H2V3.5a.5.5 0 0 1 .5-.5h11zm-11-1A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2h-11zM0 12.5h16a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5z" />
                                        </svg>
                                        Site
                                    </a>
                                    <br>
                                    <a href="https://github.com/Ohlavrac" class="text-decoration-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                            <path
                                                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                                        </svg>
                                        Github
                                    </a>
                                    <br>
                                    <a href="https://www.linkedin.com/in/jo%C3%A3o-victor-rodrigues-carvalho-9b8a751b6/"
                                        class="text-decoration-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                                            <path
                                                d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
                                        </svg>
                                        LinkedIn
                                    </a>
                                    <br>
                                    <a class="text-decoration-none" aria-disabled="true">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                            <path
                                                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                                        </svg>
                                        E-mail: jvrcarvalho@aluno.uespi.br
                                    </a>
                                    <br>
                                    <p></p>

                                </div>
                            </div>

                            <p class="mb-5"></p>
                            <hr>
                            <p class="mb-5"></p>
                            <p class="lead fs-4"> Karlisson Brendo, Back-End</p>
                            <div class="row g-0 bg-light position-relative">
                                <div class="col-md-4  mb-md-0 p-md-4">
                                    <img src="https://avatars.githubusercontent.com/u/50122686?v=4"
                                        class="img-thumbnail" alt="Professor ALcemir">
                                </div>
                                <div class="col-md-8 p-4 ps-md-0">
                                    <p class="fs-5">
                                        Olá, me chamo Karlisson e tenho 22 anos, tive contato com a programação desde
                                        2015 e participei da Olimpíada Brasileira de Robótica , atualmente sou acadêmico
                                        em Ciência da Computação na Universidade Estadual do Piauí, hoje em dia estou
                                        focado em aprender desenvolvimento Web e Mobile.
                                    </p>
                                    <p class="fs-3">
                                        Sociais:
                                    </p>
                                    <a href="https://github.com/KarlZacferro" class="text-decoration-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                            <path
                                                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                                        </svg>
                                        Github
                                    </a>
                                    <br>
                                    <a href="https://www.linkedin.com/in/karlisson-ferreira-7b37b8232/"
                                        class="text-decoration-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                                            <path
                                                d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
                                        </svg>
                                        LinkedIn
                                    </a>
                                    <br>
                                    <a class="text-decoration-none" aria-disabled="true">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                            <path
                                                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                                        </svg>
                                        E-mail: karlissonferreira@aluno.uespi.br
                                    </a>
                                    <br>
                                    <p></p>

                                </div>
                            </div>

    </div>


    </div>
</body>

<footer class="bg-light text center text-lg-start">

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021-2022 Grupo A:
        <a class="text-dark" href="termosDeUso.html"> Termos de Uso</a>,
        <a class="text-dark" href="sobrenos"> Sobre nós</a> e
        <a class="text-dark" href="politicaDePrivacidade.html">Politica de Privacidade</a>
    </div>

    <!--JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</footer>

</html>