<!doctype html>
<html lang="pt-br">

<head>
    <title>Termos de Uso</title>
    <meta charset="utf-8">

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg fixed-top navbar-dark" style="background-color: rgb(255, 185, 80);">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Qual é a boa</a>
            <% if (typeof dadosLogin != "undefined") { %>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/usuarioEstabelecimento">Meu Perfil</a>
                        </li>
                        <% if (dadosLogin.tipoDeConta == 0) { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/eventos">Eventos</a>
                            </li>
                          <% } %> 
                          <li class="nav-item">
                              <a class="nav-link" aria-current="page" href="/agenda">Agenda</a>
                          </li>
                          <% if (dadosLogin.tipoDeConta == 1) { %>
                              <li class="nav-item dropdown">
                                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                      data-bs-toggle="dropdown" aria-expanded="false">
                                      Meus Eventos
                                  </a>
                                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                      <li><a class="dropdown-item" href="/eventos/ativos">Eventos Ativos</a></li>
                                      <li>
                                          <hr class="dropdown-divider">
                                      </li>
                                      <li><a class="dropdown-item" href="/eventos/encerrados">Eventos Encerrados</a></li>
                                  </ul>
                              </li>
                          <% } %>
                    </ul>
                    <a href="/logout">
                        <button type="button" class="btn btn-dark">Sair</button>
                    </a>
                </div>
            </div>
            <% } else { %>
                <a href="/login">
                    <button type="button" class="btn btn-dark">Login</button>
                </a>
            <% } %>
        </div>
    </nav>

    <p style="margin-top: 70px">

    <div class="container-fluid">
        <h1 class="display-5 text-center">Bem-vindo ao Termos de Uso do site "Qual é a boa":</h1>
        <p class="lead text-center">Veja os nossos termos de Uso:</p>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <p>1-Lorem Ipsum:</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis vulputate metus, sit amet eleifend
                    nisi. Ut leo nibh, ultrices ut elit ac, suscipit vehicula mi. Phasellus ullamcorper eget sapien non
                    volutpat. Donec ut mi ac lectus rutrum rhoncus. Nunc nibh dui, laoreet ut massa tempor, facilisis
                    tincidunt felis. Nulla in elit fermentum, suscipit dolor ac, egestas tortor. Sed eu eros vehicula,
                    fringilla magna ut, efficitur metus. Etiam mattis magna eget feugiat varius. Morbi eu convallis sem.
                    In hac habitasse platea dictumst.</p>
            </div>
            <div class="col-md-6">
                <p>2-Lorem Ipsum:</p>
                <p>Aliquam at orci non lorem consectetur sollicitudin vel et purus. Vivamus nec orci nec tellus
                    dignissim scelerisque sed nec lacus. Sed malesuada arcu magna, in porttitor justo mattis nec.
                    Integer consequat luctus enim, vel semper risus tincidunt id. Donec tincidunt diam eu lacus luctus,
                    rutrum gravida enim euismod. In vitae urna vitae ipsum faucibus aliquet. In hac habitasse platea
                    dictumst. Aliquam maximus magna id consectetur pulvinar. Quisque volutpat gravida scelerisque.
                    Curabitur erat odio, eleifend suscipit est feugiat, pharetra maximus lectus. Vivamus mollis blandit
                    purus, quis scelerisque sapien ultrices ut.</p>
            </div>
            <br>
            <hr>
            <br>
            <div class="col-md-6">
                <p>3-Lorem Ipsum:</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis vulputate metus, sit amet eleifend
                    nisi. Ut leo nibh, ultrices ut elit ac, suscipit vehicula mi. Phasellus ullamcorper eget sapien non
                    volutpat. Donec ut mi ac lectus rutrum rhoncus. Nunc nibh dui, laoreet ut massa tempor, facilisis
                    tincidunt felis. Nulla in elit fermentum, suscipit dolor ac, egestas tortor. Sed eu eros vehicula,
                    fringilla magna ut, efficitur metus. Etiam mattis magna eget feugiat varius. Morbi eu convallis sem.
                    In hac habitasse platea dictumst.</p>
            </div>
            <div class="col-md-6">
                <p>4-Lorem Ipsum:</p>
                <p>Aliquam at orci non lorem consectetur sollicitudin vel et purus. Vivamus nec orci nec tellus
                    dignissim scelerisque sed nec lacus. Sed malesuada arcu magna, in porttitor justo mattis nec.
                    Integer consequat luctus enim, vel semper risus tincidunt id. Donec tincidunt diam eu lacus luctus,
                    rutrum gravida enim euismod. In vitae urna vitae ipsum faucibus aliquet. In hac habitasse platea
                    dictumst. Aliquam maximus magna id consectetur pulvinar. Quisque volutpat gravida scelerisque.
                    Curabitur erat odio, eleifend suscipit est feugiat, pharetra maximus lectus. Vivamus mollis blandit
                    purus, quis scelerisque sapien ultrices ut.</p>
            </div>
            <br>
            <hr>
            <br>
            <div class="col-md-6">
                <p>5-Lorem Ipsum:</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis vulputate metus, sit amet eleifend
                    nisi. Ut leo nibh, ultrices ut elit ac, suscipit vehicula mi. Phasellus ullamcorper eget sapien non
                    volutpat. Donec ut mi ac lectus rutrum rhoncus. Nunc nibh dui, laoreet ut massa tempor, facilisis
                    tincidunt felis. Nulla in elit fermentum, suscipit dolor ac, egestas tortor. Sed eu eros vehicula,
                    fringilla magna ut, efficitur metus. Etiam mattis magna eget feugiat varius. Morbi eu convallis sem.
                    In hac habitasse platea dictumst.</p>
            </div>
            <div class="col-md-6">
                <p>6-Lorem Ipsum:</p>
                <p>Aliquam at orci non lorem consectetur sollicitudin vel et purus. Vivamus nec orci nec tellus
                    dignissim scelerisque sed nec lacus. Sed malesuada arcu magna, in porttitor justo mattis nec.
                    Integer consequat luctus enim, vel semper risus tincidunt id. Donec tincidunt diam eu lacus luctus,
                    rutrum gravida enim euismod. In vitae urna vitae ipsum faucibus aliquet. In hac habitasse platea
                    dictumst. Aliquam maximus magna id consectetur pulvinar. Quisque volutpat gravida scelerisque.
                    Curabitur erat odio, eleifend suscipit est feugiat, pharetra maximus lectus. Vivamus mollis blandit
                    purus, quis scelerisque sapien ultrices ut.</p>
            </div>
            <br>
            <hr>
            <br>
            <div class="col-md-6">
                <p>7-Lorem Ipsum:</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis vulputate metus, sit amet eleifend
                    nisi. Ut leo nibh, ultrices ut elit ac, suscipit vehicula mi. Phasellus ullamcorper eget sapien non
                    volutpat. Donec ut mi ac lectus rutrum rhoncus. Nunc nibh dui, laoreet ut massa tempor, facilisis
                    tincidunt felis. Nulla in elit fermentum, suscipit dolor ac, egestas tortor. Sed eu eros vehicula,
                    fringilla magna ut, efficitur metus. Etiam mattis magna eget feugiat varius. Morbi eu convallis sem.
                    In hac habitasse platea dictumst.</p>
            </div>
            <div class="col-md-6">
                <p>8-Lorem Ipsum:</p>
                <p>Aliquam at orci non lorem consectetur sollicitudin vel et purus. Vivamus nec orci nec tellus
                    dignissim scelerisque sed nec lacus. Sed malesuada arcu magna, in porttitor justo mattis nec.
                    Integer consequat luctus enim, vel semper risus tincidunt id. Donec tincidunt diam eu lacus luctus,
                    rutrum gravida enim euismod. In vitae urna vitae ipsum faucibus aliquet. In hac habitasse platea
                    dictumst. Aliquam maximus magna id consectetur pulvinar. Quisque volutpat gravida scelerisque.
                    Curabitur erat odio, eleifend suscipit est feugiat, pharetra maximus lectus. Vivamus mollis blandit
                    purus, quis scelerisque sapien ultrices ut.</p>
            </div>
        </div>
    </div>

</body>

</body>

<footer class="bg-light text center text-lg-start">

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021-2022 Grupo A:
        <a class="text-dark" href="termosDeUso"> Termos de Uso</a>,
        <a class="text-dark" href="sobrenos"> Sobre nós</a> e
        <a class="text-dark" href="politicas">Politica de Privacidade</a>
    </div>

    <!--JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</footer>

</html>